* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #19A7CE;
    --secondary-color: #AFD3E2;
    --third-color: #F6F1F1;

    --dark-blue: #146C94;

    font-family: "Rubik";
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.sidebar {
    flex: 1;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;

    .header {
        font-size: 3rem;
        display: flex;
        margin-bottom: 1rem;
    }

    .newProj {
        font-size: 2.25rem;
        padding: 10px 5px;
        border-radius: 10px;
    }

    .newProj:hover {
        background-color: var(--dark-blue);
    }
}

.content {
    flex: 3;
    background-color: var(--third-color);
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
}

img {
    width: 30px;
    aspect-ratio: 1/1;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    padding: 20px;
    border-radius: 10px;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 2rem;
    }
    input {
        display: block;
        border-radius: 5px;
        padding: 1ch;
        font-size: 1.5rem;
    }


}

.project-container {
    background-color: var(--secondary-color);
    border-radius: 15px;

    padding: 0.5rem;

    text-align: center;

    .header {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: var(--dark-blue);

    border-radius: 15px;
}




button {
  background: var(--primary-color);
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
